.navbar-item img {
    max-height: 100%;
}

.navWrapper {
    margin-left: 45%;
}

.mobileMenu {
    padding-left: 7%;
}

.navbar-end {
    margin-right: 15%;
}

a:hover {
    background-color: white;
    color: black;
}

a {
    color: black;
}

a.navbar-item {
    color: black
}

a.navbar-item:hover {
    color: black;
    background-color: white;
}

.navbar-item .icon {
    border: solid 1px;
    border-radius: 15px;
}

@media screen and (min-width: 1088px) {
    .navWrapper {
        margin-left: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .navWrapper {
        margin-left: 41%;
    }
}

@media screen and (min-width: 1300px) {
    .navWrapper {
        margin-left: 42%;
    }
}

@media screen and (min-width: 1500px) {
    .navWrapper {
        margin-left: 43%;
    }
}

@media screen and (min-width: 1622px) {
    .navWrapper {
        margin-left: 44%;
    }
}