.navbar-item img {
    max-height: 100%;
}

.navWrapper {
    margin-left: 44%;
}

.mobileMenu {
    padding-left: 7%;
}

.navbar-end {
    margin-right: 15%;
}

a:hover {
    background-color: white;
    color: black;
}

a {
    color: black;
}

a.navbar-item {
    color: black
}

a.navbar-item:hover {
    color: black;
    background-color: white;
}

.navbar-item .icon {
    border: solid 1px;
    border-radius: 15px;
}